NEXT_PUBLIC_APP_URL=http://localhost:3000
AUTH_SESSION_SECRET=
MONGODB_URI=
MONGODB_DB=getownerinfo
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PAYMENT_PROVIDER_MODE=mock
AFRIPAY_GATEWAY_URL=https://www.afripay.africa/checkout/index.php
AFRIPAY_APP_ID=
AFRIPAY_APP_SECRET=
AFRIPAY_PUBLIC_KEY=
AFRIPAY_SECRET_KEY=
AFRIPAY_WEBHOOK_SECRET=
